@font-face {
    font-family: 'Bangers';
    src: url('../../public/fonts/Bangers-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}

.cs-title-type1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 2px;
}

.cs-text-type1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
}

.cs-text-type2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

.cs-text-type3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}