html,
body {
  padding: 0;
  margin: 0;
  font-family: bangers, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cs-margin {
  &--center {
    display: block;
    margin: 0 auto;
  }
}

.cs-flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--center-top {
    justify-content: center;
    align-items: flex-start;
  }

  &--gap {
    gap: 50px;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}