@import './common/vars.scss';

.csFooter {
    width: 100%;
    padding: 50px 15px 80px 15px;
    background-color: $color-primary;

    &__logo {
        width: 150px;
        background-color: white;
        border-radius: 16px;
        padding: 10px;
    }
}

.csFooterItem {
    color: $color-white;

    &__title {
        margin-bottom: 15px;
        transform: rotate(-4deg);
    }

    &__item {
        color: $color-white;
        font-family: monospace;
        margin-bottom: 5px;

        :hover {
            text-decoration: underline;
        }
    }
}