@import '../styles/common/vars.scss';
@import '../styles/common/responsive.scss';

.csSlider {
    width: 100%;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: none;
    overflow: hidden;

    &__wrapper {
        position: relative;
    }

    &__btn {
        position: absolute;
        top: 50%;
        border-radius: 8px;
        border: 2px solid $color-primary;

        &__next {
            right: 20px;
        }

        &__prev {
            left: 20px;
        }

        &__img {
            width: 16px;
        }
    }

    &__slide {
        position: relative;
        background-color: $color-black;
    }
    
    &__link {
        display: block;
    }

    &__img {
        opacity: 0.5;
        display: block;
        transition: all 0.5s ease-in-out;
        width: 100vw;
        height: 400px;
        object-fit: cover;

        &:hover {
            transform: scale(1.15);
        }

        @include mobile {
            height: 200px;
        }
    }

    &__title {
        padding: 40px;
        border: 8px solid $color-white;
        color: $color-white;

        @include mobile {
            padding: 15px;
            font-size: 18px;
        }
    }
}